<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>
      {{createMode ? 'Cadastro' : 'Edição'}} Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usuarioForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input formControlName="nome" placeholder=" "></ion-input>
        <ion-note slot="error" *ngIf="usuarioForm.controls['nome'].hasError('required')">O campo nome é obrigatório!</ion-note>
        <ion-note slot="error" *ngIf="usuarioForm.controls['nome'].hasError('maxlength')">O campo no deve conter até {{usuarioForm.controls['nome'].errors?.['maxlength'].requiredLength}} caracteres!</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apelido:</ion-label>
        <ion-input formControlName="apelido" placeholder=" "></ion-input>
        <ion-note slot="error" *ngIf="usuarioForm.controls['apelido'].hasError('required')">O campo nome é obrigatório!</ion-note>
        <ion-note slot="error" *ngIf="usuarioForm.controls['apelido'].hasError('maxlength')">O campo no deve conter até {{usuarioForm.controls['apelido'].errors?.['maxlength'].requiredLength}} caracteres!</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input formControlName="email" placeholder=" "></ion-input>
        <ion-note slot="error" *ngIf="usuarioForm.controls['email'].hasError('email')">Endereço de e-mail inválido!</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nascimento:</ion-label>
        <ion-datetime-button datetime="nascimento"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime formControlName="nascimento" id="nascimento" presentation="date" showDefaultButtons="true" doneText="Selecionar" cancelText="cancelar" showDafaultTitle="true">
              <span slot="title"></span>
            </ion-datetime>  
          </ng-template>
        </ion-modal>
        <ion-note slot="error" *ngIf="usuarioForm.controls['nascimento'].hasError('validMinAge')">Idade invalida</ion-note>
      </ion-item>        

      <ion-item>
        <ion-label position="floating">Gênero:</ion-label>
        <ion-select formControlName="genero" placeholder="Selecione o seu gênero">
          <ion-select-option value="F">Feminino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
          <ion-select-option value="O">Outro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="create()" [disabled]="usuarioForm.invalid">
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button color="light" (click)="cancel()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
</ion-content>