<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="despesaForm">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea formControlName="descricao" placeholder=" " [autoGrow]="true" rows="10"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Categoria:</ion-label>
        <ion-select formControlName="categoria" placeholder=" ">
          <ion-select-option value="OUTRAS">Outras</ion-select-option>
          <ion-select-option value="ALIMENTACAO">Alimentação</ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="despesaForm.controls['categoria'].hasError('required')"></ion-note>
      </ion-item>

      <ion-item>
        <ion-label> Data </ion-label>
        <ion-datetime-button datetime="data"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime formControlName="data" id="data" presentation="date" showDefaultButtons="true" 
            doneText="Selecionar" cancelText="Cancelar" showDefaultTitle="true">
              <span slot="title">Data</span>
            </ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-note slot="error" *ngIf="despesaForm.controls['data'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>


      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-input formControlName="valor" placeholder="valor" type="number"></ion-input>
        <ion-note slot="error" *ngIf="despesaForm.controls['valor'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>


      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input formControlName="usuario" placeholder="usuario" ></ion-input>
        <ion-note slot="error" *ngIf="despesaForm.controls['despesa'].hasError('required')">
          O campo é obrigatório
        </ion-note>
        <ion-note slot="error" *ngIf="despesaForm.controls['despesa'].hasError('invalidDespesa')">
          Informe o digito da conta com um hífen, nesse formato 00000-00
        </ion-note>
      </ion-item>  
    </ion-list>
  </form>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="despesa?.id" (click)="deleteDespesa(despesa.id)" [strong]="true" color="danger">Excluir</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" [disabled]="despesaForm.invalid" color="primary">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>