<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="despesaForm">
    <ion-list>
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input formControlName="nome" placeholder="Seu nome"></ion-input>
        <ion-note slot="error" *ngIf="despesaForm.controls['nome'].hasError('required')">
          O campo é obrigatório
        </ion-note>
        <ion-note slot="error" *ngIf="despesaForm.controls['nome'].hasError('maxlength')">
          O campo deve ter no máximo {{despesaForm.controls['nome'].errors?.['maxlength'].requiredLength}} caracteres
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Descricao</ion-label>
        <ion-input formControlName="descricao" placeholder="Descricao"></ion-input>
        <ion-note slot="error" *ngIf="despesaForm.controls['descricao'].hasError('required')">
          O campo é obrigatório
        </ion-note>
        <ion-note slot="error" *ngIf="despesaForm.controls['descricao'].hasError('maxlength')">
          O campo deve ter no máximo {{despesaForm.controls['descricao'].errors?.['maxlength'].requiredLength}} caracteres
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select formControlName="categoria" placeholder="Selecione a categoria" arial-label="Categoria">
          <ion-select-option value="F">Feminino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
          <ion-select-option value="O">Outros</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label> Data </ion-label>
        <ion-datetime-button datetime="data"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime formControlName="data" id="data" presentation="date" showDefaultButtons="true" 
            doneText="Selecionar" cancelText="Cancelar" showDefaultTitle="true">
              <span slot="title">Selecione a data</span>
            </ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-note slot="error" *ngIf="despesaForm.controls['data'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-input formControlName="valor" placeholder="valor" type="number"></ion-input>
        <ion-note slot="error" *ngIf="despesaForm.controls['saldo'].hasError('required')">
          O campo é obrigatório
        </ion-note>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="despesa?.id" (click)="deleteDespesa(despesa.id)" [strong]="true" color="danger">Excluir</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" [disabled]="despesaForm.invalid" color="primary">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>